<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AlphaCar 공지사항</title>
  <link rel="stylesheet" href="../../../resources/css/style.css">
</head>
<body>
  <!-- 네비게이션 바 -->
  <nav>
    <div class="sub_image">
      <a href="">
        <img src="../../../resources/img/main_image.jpg" alt="">
      </a>
    </div>
    <div id="header">
      <div class="alphacar_logo">
        <a href="">
          <img src="../../../resources/img/알파카로고_white_300px.png" alt="">
        </a>
      </div>
      <ul>
        <li><a href="">AlphaCar</a></li>
        <li><a href="">공지사항</a></li>
        <li><a href="">고객센터</a></li>
        <li><a href="">로그인</a></li>
        <li><a href="">마이페이지</a></li>
      </ul>
    </div>
  </nav>
  <main>
    <div id="notice_page">
      <h1>공지사항</h1>
      
      
    </div>
  </main>

</body>
</html>